$primary-background-color: #121212;
$primary-button-background-color: #117ffe;
$primary-button-hover-background-color: #4ca4fe;
$ghost-button-selected-color: #496e9c;
$button-focus-border-color: #479df2;

$primary-text-color: #e8f3f5;
$secondary-text-color: #c8c8c8;
$thirdary-text-color: #9b9b9d;
$success-text-color: #43c46e;
$unsure-text-color: #e7d970;
$not-success-text-color: #d84859;

$table-border-color: #242424;
