$primary-background-color: #121212;

$primary-button-background-color: #117ffe;
$primary-button-hover-background-color: #4ca4fe;

$secondary-button-background-color: #292929;
$secondary-button-hover-background-color: #303030;

$ghost-button-selected-color: #6c9ecc;
$ghost-button-border-color: #646464;
$button-focus-outline-color: #479df2;
$button-focus-border-color: #e8f3f5;

$primary-text-color: #e8f3f5;
$secondary-text-color: #c8c8c8;
$thirdary-text-color: #9b9b9d;
$success-text-color: #43c46e;
$unsure-text-color: #e7d970;
$not-success-text-color: #d84859;

$table-border-color: #353535;
