@use '@shared/styles/main.scss' as *;

.header {
    display: flex;
    flex-direction: row;

    &__website-logo {
        width: 267px;
        height: 40px;
        background-image: url('@shared/assets/images/logo-large.svg');
    }

    &__personal-score {
        flex: 2;
        display: flex;
        justify-content: end;
        align-items: center;
        color: $thirdary-text-color;
    }

    &__cup-icon {
        width: 21px;
        height: 18px;
        padding-right: 2em;
        background-image: url('@shared/assets/images/icon-personal-best.svg');
        background-repeat: no-repeat;
    }

    &__score {
        padding-left: 0.2em;
        color: $secondary-text-color;
    }
}
