@use '@shared/styles/main.scss' as *;

:root {
    background-color: $primary-background-color;
    font-family: Sora;
    font-weight: 400;
    color: $thirdary-text-color;
    padding-top: 25px;
    padding-inline: 70px;
}
