@use '@shared/styles/main.scss' as *;

.typing-test-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;

    &__left {
        display: flex;
    }

    &__metric {
        font-size: 18px;
    }

    &__metric span {
        color: $primary-text-color;
        font-weight: bold;
    }

    &__right {
        display: flex;
        flex: 1;
        justify-content: end;
    }

    &__difficulty-selector,
    &__mode-selector,
    &__difficulty-buttons,
    &__mode-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.gap-5 {
    gap: 5px;
}

.border-left {
    border-left: 1px solid $table-border-color;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}
