@font-face {
    font-family: 'Sora-VariableFont_wght';
    src: url('@shared/assets/fonts/Sora-VariableFont_wght.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sora-Regular';
    src: url('@shared/assets/fonts/static/Sora-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Sora-SemiBold';
    src: url('@shared/assets/fonts/static/Sora-SemiBold.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sora-Bold';
    src: url('@shared/assets/fonts/static/Sora-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
