@font-face {
    font-family: 'Sora';
    src: url('@shared/assets/fonts/Sora-VariableFont_wght.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sora';
    src: url('@shared/assets/fonts/static/Sora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sora';
    src: url('@shared/assets/fonts/static/Sora-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sora';
    src: url('@shared/assets/fonts/static/Sora-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
